
{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}



<div class="row">
    <div class="card mx-3 col" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Bienvenue</h5>

            
        </div>
    </div>


</div>

{% endblock %}