{% extends 'base.html.twig' %}

{% block title %}Fiche stagiaire{% endblock %}

{% block body %}
<h1><i class="fa-solid fa-address-book"></i> Fiche Formateur </h1>

    <h2>{{ formateur }}</h2>


{% endblock %}